.group-container {
  display: flex;
  height: 100%;
}

.group-list {
  width: 300px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
}

.group-detail {
  background-color: #fafafa;
  flex: 1;
}
